# ignore files in npm pack
#git files
.git/
.github/

#vendor files
vendor/**
!vendor/freetype/src/base/ftsystem.c
!vendor/freetype/src/base/ftinit.c
!vendor/freetype/src/base/ftdebug.c

!vendor/freetype/src/base/ftbase.c

!vendor/freetype/src/base/ftbbox.c
!vendor/freetype/src/base/ftglyph.c

!vendor/freetype/src/base/ftbdf.c
!vendor/freetype/src/base/ftbitmap.c
!vendor/freetype/src/base/ftcid.c
!vendor/freetype/src/base/ftfstype.c
!vendor/freetype/src/base/ftgasp.c
!vendor/freetype/src/base/ftgxval.c
!vendor/freetype/src/base/ftlcdfil.c
!vendor/freetype/src/base/ftmm.c
!vendor/freetype/src/base/ftotval.c
!vendor/freetype/src/base/ftpatent.c
#!vendor/freetype/src/base/ftpfr.c
!vendor/freetype/src/base/ftstroke.c
!vendor/freetype/src/base/ftsynth.c
#!vendor/freetype/src/base/fttype1.c
#!vendor/freetype/src/base/ftwinfnt.c

# font drivers (optional; at least one is needed)
!vendor/freetype/src/bdf/bdf.c
!vendor/freetype/src/cff/cff.c
#!vendor/freetype/src/cid/type1cid.c
!vendor/freetype/src/pcf/pcf.c
#!vendor/freetype/src/pfr/pfr.c
!vendor/freetype/src/sfnt/sfnt.c
!vendor/freetype/src/truetype/truetype.c
#!vendor/freetype/src/type1/type1.c
#!vendor/freetype/src/type42/type42.c
#!vendor/freetype/src/winfonts/winfnt.c

# rasterizers (optional; at least one is needed for vector formats)
!vendor/freetype/src/raster/raster.c
!vendor/freetype/src/smooth/smooth.c

# auxiliary modules (optional)
!vendor/freetype/src/autofit/autofit.c
!vendor/freetype/src/cache/ftcache.c
!vendor/freetype/src/gzip/ftgzip.c
!vendor/freetype/src/lzw/ftlzw.c
!vendor/freetype/src/bzip2/ftbzip2.c
!vendor/freetype/src/gxvalid/gxvalid.c
!vendor/freetype/src/otvalid/otvalid.c
!vendor/freetype/src/psaux/psaux.c
!vendor/freetype/src/pshinter/pshinter.c
!vendor/freetype/src/psnames/psnames.c

!vendor/freetype/include/

#nested node_modules
examples/node_modules/

#build artifacts
build-tmp-*/
build/
npm-debug.log
config.gypi
freetype*.tgz
