# ignore files in npm pack
#git files
.git/
.github/

#vendor files
vendor/**
!vendor/freetype/src/base/*.c
!vendor/freetype/src/base/*.h

# font drivers (optional; at least one is needed)
!vendor/freetype/src/bdf/*
!vendor/freetype/src/cff/*
#!vendor/freetype/src/cid/type1cid.c
!vendor/freetype/src/pcf/*
#!vendor/freetype/src/pfr/pfr.c
!vendor/freetype/src/sfnt/*
!vendor/freetype/src/truetype/*
#!vendor/freetype/src/type1/type1.c
#!vendor/freetype/src/type42/type42.c
#!vendor/freetype/src/winfonts/winfnt.c

# rasterizers (optional; at least one is needed for vector formats)
!vendor/freetype/src/raster/*
!vendor/freetype/src/smooth/*

# auxiliary modules (optional)
!vendor/freetype/src/autofit/*
!vendor/freetype/src/cache/*
!vendor/freetype/src/gzip/*
!vendor/freetype/src/lzw/*
!vendor/freetype/src/bzip2/*
!vendor/freetype/src/gxvalid/*
!vendor/freetype/src/otvalid/*
!vendor/freetype/src/psaux/*
!vendor/freetype/src/pshinter/*
!vendor/freetype/src/psnames/*

!vendor/freetype/include/**

#nested node_modules
examples/node_modules/

#build artifacts
build-tmp-*/
build/
npm-debug.log
config.gypi
freetype*.tgz
